* {
    font-family: Inter, sans-serif;
    color: #FFFCF2;
}

body {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    background-color: #403D39;
}

body > h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    color: #EB5E28;
    font-size: 3em;
    padding: 10px 50px;
    background-color: #252422;
    margin: 0;
    border: 3px solid #EB5E28;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 255;
}

table {
    width: 90%;
    margin: 125px auto;
    background-color: #403D39;
}
table, td, th {
    border: 3px solid #EB5E28;
    padding: 10px 25px;
    border-collapse: collapse;
}
table ul, table ol {
    padding-left: 0;
}
table ol {
    list-style-position: inside;
    text-align: center;
}
table ol > li {
    list-style-type: none;
    margin-bottom: 15px;
}
table ol > li > h4 {
    margin-top: 0;
    margin-bottom: 0;
}
table ol > li > p {
    display: inline;
    margin-top: 0;
}
table ol > li > span:after {
    content: "€";
}
table ul > li {
    position: relative;
    list-style-type: none;
}
table ul > li.favorite {
    min-height: 50px;
}
table ul > li.favorite::before {
    content: "";
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 10px);
    top: -5px;
    left: -10px;
    border: 2px solid pink;
    border-radius: 10px;
}
table ul > li.favorite::after {
    content: "🖤";
    display: grid;
    position: absolute;
    bottom: -9px;
    right: -14px;
    background-color: pink;
    text-align: center;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, p::first-letter {
    text-transform: uppercase;
}
table img {
    display: block;
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 15px auto;
}
table td > h2 {
    position: relative;
    color: #EB5E28;
    background-color: #252422;
    left: -25px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
table td > h2 + p {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 200;
}
table hr {
    display: none;
}
table ul > li > p {
    font-weight: 400;
}
table ul > li > span {
    position: absolute;
    top: 0;
    right: 0;
    border: none !important;
}
table ul > li > span:after {
    content: " €";
}
table ul > li > h3, table ul > li > h3 > a, table ul > li > span {
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
    border-bottom: 2px solid #EB5E28;
}
table ul > li > h3 > a:hover {
    color: #EB5E28;
    transition: color .15s ease-in-out;
}
table ul li > h3 > span {
    font-size: 0.75em;
    font-weight: 300;
}

nav > ul {
    display: flex;
    position: fixed;
    width: calc(100vw + 2px);
    left: -1px;
    bottom: -1px;
    margin: 0;
    padding: 0;
    background-color: #252422;
}
nav > ul > li {
    list-style-type: none;
    width: 100%;
    border: 1px solid #EB5E28;
    border-top-width: 2px;
    text-align: center;
    padding: 10px;
}
nav > ul > li:hover {
    background-color: #312f2d;
    transition: background-color .15s ease-in-out;
}
nav > ul > li > a {
    text-decoration: none;
    color: #FFFCF2;
}
nav > ul > li > a:hover {
    color: #EB5E28;
    transition: color .15s ease-in-out;
}

#main {
    max-width: 728px;
    margin: 50px auto;
    padding: 20px 50px;
    background-color: #252422;
    border-radius: 50px;
}
#main h1 {
    text-align: center;
    color: #EB5E28;
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 50px;
}
#main h1 > hr {
    border-color: #EB5E28;
    margin: 5px;
}
#main h2 {
    position: relative;
    width: 50%;
    font-weight: 800;
    font-size: 1.75em;
    left: -50px;
    padding: 15px 100px;
    background-color: #403D39;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
#main h2::before, #main h2::after {
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    left: 0;
    content: "⬤";
    color: #252422;
    width: 100px;
    height: 100px;
    font-size: 100px;
    background-color: #403D39;
}
#main h2::before {
    top: -100px;
    border-radius: 50% 50% 50% 0;
}
#main h2::after {
    bottom: -100px;
    border-radius: 0 50% 50% 50%;
}
#main p {
    position: relative;
    font-size: 1.25em;
    font-weight: 300;
    margin-bottom: 35px;
    z-index: 2;
}
#main a:hover {
    color: #EB5E28;
    transition: color .15s ease-in-out;
}
#main table {
    position: relative;
    width: 100%;
    margin: 50px auto;
    background: none;
    box-shadow: 0 0 25px 15px #403D39;
    z-index: 2;
}
#main table thead th {
    color: #EB5E28;
}
#main table tbody {
    background-color: #403D39;
}
#main table.members tbody tr:hover {
    background-color: #312f2d;
    transition: background-color .15s ease-in-out;
}
#main table a {
    text-decoration: none;
}
#main table img {
    cursor: zoom-in;
}
#main table figcaption {
    font-size: 1em;
    font-weight: 400;
    text-decoration: underline;
}
#main table td, #main table th {
    text-align: center;
    font-size: 1.25em;
}
#main h3 {
    position: relative;
    color: #EB5E28;
    font-size: 1.5em;
    font-weight: 700;
    border-bottom: 1px solid #EB5E28;
    z-index: 2;
}
#main ol {
    display: flex;
    margin-right: 50px;
}
#main li {
    position: relative;
    font-size: 1.25em;
    z-index: 2;
}
#main li:not(:nth-child(1)) {
    margin-left: auto;
}